/* FOOTER */
.footer {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto;
    position: relative;
    width: 100%;
    background-color: #0f2044;
    text-align: center;
    margin-top: 250px;
    padding-bottom: 10px;
    height: auto;
}

.about {
    padding-left: 150px;
    display: inline-grid;
}

.about a {
    color: rgb(229, 229, 236);
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.about h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(229, 229, 236);
}

.about a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.about a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.terms {
    display: inline-grid;
}

.terms a {
    color: rgb(229, 229, 236);
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin-bottom: 4px;
}

.terms a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.terms a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.terms h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(229, 229, 236);
}

/* connects */

.social a {
    color: rgb(229, 229, 236);
    text-decoration: none;
    font-size: larger;
    padding-inline: 5px;
    display: inline-block;
    position: relative;
}

.social h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(229, 229, 236);
}

.social a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.social a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}