header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f2044;
    padding: 10px 20px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(229, 229, 236);
}

/* navigation */
nav ul {
    list-style: none;
    display: flex;
    list-style: none;
    padding: 0px;

}

.nav-icon {
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    padding: 8px;
    border-radius: 50%;
    background: #f1f1f1;
    display: inline-flex;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: background 0.3s ease, transform 0.2s;
}

.nav-icon:hover  {
    background: #ddd;
    transform: scale(1.1);
}

/* Tooltip for hover effect */
.nav-icon::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.nav-icon:hover::after {
    opacity: 1;
    visibility: visible;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: large;
}

/* chat image */
.nav-icon-image {
    padding-top: 10px;
    width: 80px; 
    height: 80px;
}

/*TOP*/
#intro {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 1px;
    padding-bottom: 100px;
    background-color: #ecf0f9;
}

#intro h1 {
    font-size: 2em;
    color: #333;
    
}

/* SEARCH */
.search-bar {
    display: flex;
    justify-content: center;
    /* margin-top: 10px; */

}

.search-bar input {
    padding: 10px;
    border: 2px solid #0f2044;
    width: 300px;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px;
    border: none;
    background-color: #ecf0f9;
    cursor: pointer;
}

.search-bar i {
    color: #ffb71b;
}

/* catogories */
#categories {
    text-align: center;
    padding-bottom: 40px;
    /* margin-bottom: 20px; */
}

#categories h2 {
    font-size: 1.5em;
    color: #333;
    text-align: left;
    margin-left: 5px;
}

.category-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category {
    width: 150px;
    text-align: center;
    border: 2px solid #0f2044;
    padding-top: 20px;
    border-radius: 5px;
    /* margin: 10px; */
}

.category i {
    font-size: 2em;
    color: #333;
}