header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f2044;
    padding: 10px 20px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(229, 229, 236);
}

/* navigation */
nav ul {
    list-style: none;
    display: flex;
    list-style: none;
    padding: 0px;

}

.nav-icon {
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    padding: 8px;
    border-radius: 50%;
    background: #f1f1f1;
    display: inline-flex;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: background 0.3s ease, transform 0.2s;
}

.nav-icon:hover  {
    background: #ddd;
    transform: scale(1.1);
}

/* Tooltip for hover effect */
.nav-icon::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.nav-icon:hover::after {
    opacity: 1;
    visibility: visible;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: large;
}

/* chat image */
.nav-icon-image {
    padding-top: 10px;
    width: 80px; 
    height: 80px;
}

/* Container for the user icon */
.user-icon-container {
    position: relative;
    display: inline-block;
}

/* Dropdown menu styling */
.dropdown-menu {
    position: absolute;
    top: 60px; 
    background-color: #fff;
    border: 1px solid #ebe5e5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: auto; 
    min-width: 70px; 
    display: none; 
    margin: 0; 
}

.user-icon-container:hover .dropdown-menu {
    display: block;
}

/* Dropdown items */
.dropdown-item {
    display: block;
    padding: 6px 10px; 
    margin: 0; 
    color: #333;
    text-decoration: none;
    font-size: 14px; 
    white-space: nowrap; 
    text-align: left; 
}

.dropdown-item:hover {
    background-color: #f1f1f1;
    color: #3708f6; 
}

.dropdown-item.logout {
    background-color: #f26060; /* Red background for logout */
    color: #fff; /* White text */
    border-radius: 4px; /* Rounded corners */
}

.dropdown-item.logout:hover {
    background-color: #e60000; /* Darker red on hover */
    color: #fff;
}



