#filters {
    text-align: center;
    margin: 20px 0;
}

.filter-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-list label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-list select,
.filter-list input[type="range"] {
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


#featured-products {
    text-align: center;
}

#featured-products h2 {
    font-size: 1.5em;
    color: #333;
    /* margin-bottom:20px; */
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.product {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 230px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.product h3 {
    margin-top: 4px;
    text-align: left;
}

.product p {
    text-align: left;
    margin-top: -20px;
}

.product h4 {
    text-align: left;
    margin-top: -5px;
}

.product img {
    width: 100%;
    max-height: 150px;
    /* Set the maximum height */
    object-fit: scale-down;
    /* Ensure the whole image is visible */
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid #cccccc5d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.product .add {
    font-size: larger;
    color: rgb(28, 49, 49);
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    background: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product .add:hover {
    background: #bbb;
}

.product img:hover {
    transform: rotate(-5deg);
}

.chat-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: center;
}

.chat-container p {
    font-size: 12px;
    margin-bottom: 3px;
    color: #666;
}

.product .chat {
    font-size: larger;
    color: white;
    background: #007bff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.product .chat:hover {
    background: #0056b3;
}



.product::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    width: 26px;
    height: 26px;
    background-image: url('../../../../public/redpin.png');
    /* Path to the pin image */
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-50%);
}

.product::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: linear-gradient(135deg, transparent 75%, #f4f4f4 75%);
    border-radius: 0 0 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



