/* MESSAGE AREA */
.message-area-chat {
  flex: 1;  
  display: flex;
  flex-direction: column;
  background-color: white;
}

.message-area-header {
  padding: 20px;
  justify-content: center;
}

.message-area-header .close-chat-btn {
  background-color: #0f2044;
}

.message-area-header .close-chat-btn:hover {
  background-color: #3a4b6f;
}

.message-area-messages {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%; 
  background-color: #f9f9f9; 
}

.message-area-message {
  max-width: 70%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  font-size: 14px;
  word-wrap: break-word;
  color: black !important;
}

.sent {
  align-self: flex-end;
  background-color: #0f2044 !important; 
  color: white !important; 
}

.received {
  align-self: flex-start;
  background-color: #e0e0e0 !important; 
  color: black !important; 
}

.message-area-message-input {
  display: flex;
  padding: 20px;
  background: white;
  border-top: 1px solid #ccc;
}

.message-area-message-input input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.message-area-message-input button {
  margin-left: 10px;
  padding-left: 10px;
  background-color: #ffb71b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-area-message-input button:hover {
  background-color: #ffd06b;
}

.message-area-delete-msg-btn {
  background-color: red;
}

.message-area-delete-msg-btn:hover {
  background-color: rgb(250, 137, 137);
}

.message-area-report-msg-btn {
  background-color: #ccc;
}

.message-area-report-msg-btn:hover {
  background-color: #e4e2e2;
}

/* REPORT */
.report-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-popup {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.report-reasons {
  text-align: left;
  margin-top: 10px;
}

.report-reasons label {
  display: block;
  margin-bottom: 5px;
}

.report-popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.confirm-report {
  background: red;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-report {
  background: gray;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* MESSAGE HOME */
.message-home-chat-container {
  display: flex;
  flex-direction: row;  
  height: 85vh;
  max-width: 900px; 
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f9f9f9;
}

.message-home-empty-chat {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: gray;
}

/* USER LIST */
.user-list {
  width: 30%;  
  min-width: 200px;
  background-color: #f1f1f1;
  border-right: 1px solid #ccc;
  padding: 15px;
  overflow-y: auto;
}

.user-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.user-item:hover {
  background-color: #f1f1f1;
}
